{# https://www.zytrax.com/books/dns/ch9/subdomain.html #}
{% for zone in bind9_config.zones %}
$TTL 2d	; default TTL for zone

$ORIGIN {{ zone.name }}. ; base domain-name
@     	IN  	SOA   {{ zone.mname }}.{{ zone.name }}. admin.{{ zone.name }}. (

                            	{{ansible_date_time.epoch}} ; serial number

                            	12h    	; refresh

                            	15m    	; update retry

                            	3w     	; expiry

                            	60s     ; minimum

                            	)


{% for ns in zone.name_servers %}
       	IN  	NS  	{{ ns.name }}.{{ zone.name }}.
{% endfor %}

{% for record in domains[zone.name] %}
{% set type = domains[zone.name][record].type %}
{% set value = domains[zone.name][record].value %}
{% set name = record %}
{% if type == "CAA" %}
{{ name }} IN CAA 0 issue "{{ value }}"
{% else %}
{{ name }} IN {{ type }} {{ value }}
{% endif %}
{% endfor %}
{% endfor %}