; base zone file for lab.lan

$TTL 2d	; default TTL for zone

$ORIGIN lab.lan. ; base domain-name

; Start of Authority RR defining the key characteristics of the zone (domain)

@     	IN  	SOA   dns-01.lab.lan. admin.lab.lan. (

                            	{{ansible_date_time.epoch}} ; serial number

                            	12h    	; refresh

                            	15m    	; update retry

                            	3w     	; expiry

                            	60s     ; minimum

                            	)

; name server RR for the domain

       	IN  	NS  	dns-01.lab.lan.
       	IN  	NS  	dns-02.lab.lan.

; records for domain
{% for record in records %}
{% if record.type == "CAA" %}
{{record.name}} IN {{record.type}} 0 issue "{{record.value}}"
{% else %}
{{record.name}} IN {{record.type}} {{record.value}}
{% endif %}
{% endfor %}
